@import url("./fonts.css");

:root {

/*
    Размеры экрана
*/

    --wrapper-width:            1200px;
    --header-width:             1600px;
    --footer-width:             1600px;

/*
    Основная палитра
*/

    --black:                    #000000; /* dark text */
    --gray-dark:                #282828; /* flex-image-text title */
    --off-white:                #FCF8ED; /* neutral and main menu background*/
    --white:                    #FFFFFF; /* light text */

    --orange:                   #E99C43; /* accent color */
    --orange-light:             #EDAA45; /* accent color hover */
    --orange-lighter:           #FF7D0A; /* button background */
    --red:                      #FF6666; /* form error */

    --yellow-lighter:           #FCFCED; /* yellow off-white background*/

    --gray-neutral:             #DCE2E1; /* p declaration */
/*
    Шрифты
*/

    --text-color-light:         var(--white);
    --text-color-dark:          var(--black);

    --text-color-menu:          var(--orange);
    --text-color-menu_hover:    var(--orange-light);


    --text-family-main:         'Manrope', arial, sans-serif;
    --text-family-menu:         'Manrope', arial, sans-serif;
    --text-family-hero-motto:   'Proxima Nova', arial, sans-serif;
    --text-family-section-title:'Fira Sans', arial, sans-serif;
    --text-family-card-title:   'Lato', arial, sans-serif;

    --text-weight-regular:      400;
    --text-weight-bold:         700;
    --text-weight-black:        900;

/*
    Фоны
*/
    --background-color-main:     var(--white);
    --background-color-menu:     var(--off-white);
    --background-color-skeleton: var(--gray-neutral);

/*
    Рамки
*/

    --border-radius-button:         22px; /* button */
    --border-radius-images:         20px; /* images */
    --border-radius-menu-mobile:    14px; /* menu mobile items */

/*
    Ссылки
*/

    --link-normal-color:            var(--orange);
    --link-normal-color_hover:      var(--orange-light);
    --link-normal-color_disabled:   var(--gray);

/*
    Кнопки
*/

    --button-text-color:               var(--white);
    --button-text-family:              var(--text-family-hero-motto);
    --button-background-color:         var(--orange-lighter);
    --button-background-color_hover:   var(--orange-light);
}
