/*Manrope Regular*/
@font-face {
    font-family: 'Manrope';
    font-weight: 400;
    src: url("../../fonts/Manrope-Regular.ttf") format("truetype");
    font-display: swap;
}

/*Manrope Bold*/
@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: url("../../fonts/Manrope-Bold.ttf") format("truetype");
    font-display: swap;
}

/*Cambria Bold*/
@font-face {
    font-family: 'Manrope';
    font-weight: 700;
    src: url("../../fonts/Cambria-Bold.ttf") format("truetype");
    font-display: swap;
}

/*Fira Sans Bold*/
@font-face {
    font-family: 'Fira Sans';
    font-weight: 700;
    src: url("../../fonts/FiraSans-Bold.ttf") format("truetype");
    font-display: swap;
}

/*Proxima Nova Bold*/
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 700;
    src: url("../../fonts/Proximanova-Bold.otf") format("opentype");
    font-display: swap;
}

/*Proxima Nova BLack*/
@font-face {
    font-family: 'Proxima Nova';
    font-weight: 900;
    src: url("../../fonts/Proximanova-Black.otf") format("opentype");
    font-display: swap;
}
