html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

body {
    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 14px);
    font-weight: var(--text-weight-main, 300);

    line-height: var(--text-line-height-main, 18px);

    background-color: var(--background-color-main, #FFFFFF);
}

.main {
    background-color: var(--background-color-main, #FFFFFF);
}

.main_yellow {
    background-color: var(--yellow-lighter, #FCFCED);
}

.orange {
    color: #E99C43;
}

.bold {
    font-weight: var(--text-weight-bold, 700);
}

.hidden {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}

.main {
    padding-top: 50px;
}

.one-chair__symbol {
    display: block;
}

.wrapper_created-for {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title_created-for {
    margin-top: 40px;
    margin-bottom: 40px;
}

.p-text_created-for {
    margin-bottom: 50px;
}

.wrapper_one-chair {
    padding-top: 120px;
    padding-bottom: 120px;
}

.one-chair {
    background-color: var(--off-white, #FCF8ED);
}

.section-title_one-chair {
    margin-bottom: 40px;
}

.features {
    padding-top: 60px;
    padding-bottom: 90px;

    background-color: var(--yellow-lighter, #FCFCED);
}

.features__flex-image-text {
    padding: 90px 0 0;
}

.new-favorite {
    margin: 100px 0 50px;
}

.new-favorite__image_cat {
    width: 100px;
    height: 100px;
    margin-bottom: 20px;
}

.new-favorite__image_dog {
    width: 70px;
    height: 87px;
    margin-bottom: 20px;
}

.flex-images_why-you-need {
    flex-wrap: wrap;
}

.flex-images_why-you-need .flex-images__image {
    width: 50%;
    padding-bottom: 50px;
}

.built-to-last {
    background-color: var(--background-color-main, #FFFFFF);
}

.premium-details {
    padding-bottom: 100px;
}

.premium-details .flex-image-text__title {
    font-family: var(--text-family-section-title, sans-serif);
    font-size: 53px;
}

.premium-details__symbol {
    font-size: 56px;

    line-height: 60px;
}

.success-story {
    background-color: var(--yellow-lighter, #FCFCED);
}

.reviews {
    margin-top: 40px;
}

@media (max-width: 1440px) {
    .new-favorite {
        margin: 0 auto 0;
    }
}

@media (max-width: 960px) {
    .features {
        padding-bottom: 60px;
    }

    .features__flex-image-text {
        padding: 60px 0 0;
    }

    .new-favorite {
        margin: 100px 0 50px;
        padding: 0;
    }
}

@media screen and (max-width: 768px) {
    .wrapper_created-for {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section-title_created-for {
        margin-bottom: 20px;
    }

    .p-text_created-for {
        margin-bottom: 30px;
    }

    .wrapper_one-chair {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .new-favorite {
        margin: 50px 0 40px;
    }

    .new-favorite__image_cat {
        width: 60px;
        height: 60px;
        margin-bottom: 20px;
    }

    .new-favorite__image_dog {
        width: 50px;
        height: 62px;
        margin-bottom: 20px;
    }

    .wrapper_why-you-need {
        padding-bottom: 50px;
    }

    .premium-details .flex-image-text__title {
        font-size: 36px;
    }

    .premium-details__symbol {
        font-size: 40px;

        line-height: 46px;
    }

    .reviews {
        margin-top: 20px;
    }
}
