html {
    scroll-behavior: smooth;
    scrollbar-width: thin;
}

html::-webkit-scrollbar {
    width: 8px;
    height: 8px
}

body {
    color: var(--text-color-main, #000000);
    font-family: var(--text-family-main, sans-serif);
    font-size: var(--text-size-main, 14px);
    font-weight: var(--text-weight-main, 300);

    line-height: var(--text-line-height-main, 18px);

    background-color: var(--background-color-main, #FFFFFF);
}

.hidden {
    display: none !important;
}

.no-scroll {
    overflow: hidden;
}

.main {
    padding-top: 50px;
}

.wrapper_created-for {
    padding-top: 120px;
    padding-bottom: 120px;
}

.section-title_created-for {
    margin-bottom: 40px;
}

.p-text_created-for {
    margin-bottom: 50px;
}

.wrapper_one-chair {
    padding-top: 120px;
    padding-bottom: 120px;
}

.one-chair {
    background-color: var(--off-white, #FCF8ED);
}

.section-title_one-chair {
    margin-bottom: 40px;
}

.features {
    padding-top: 60px;
    padding-bottom: 90px;

    background-color: var(----yellow-lighter, #FCFCED);
}

.features__flex-image-text {
    padding: 90px 0 0;
}

@media (max-width: 960px) {
    .features {
        padding-bottom: 60px;
    }

    .features__flex-image-text {
        padding: 60px 0 0;
    }
}

@media screen and (max-width: 768px) {
    .wrapper_created-for {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .section-title_created-for {
        margin-bottom: 20px;
    }

    .p-text_created-for {
        margin-bottom: 30px;
    }

    .wrapper_one-chair {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

/*
.main__wrapper {
    margin: 0 auto 60px;

    color: var(--text-color-main, #000000);

    text-align: left;
}

.flex-image-text {
    margin-bottom: 40px;
}

.single-slider {
    margin: 0 auto 100px;
}

.tiles-images {
    margin: 50px -5px;
    padding-top: 100px;
}

.comparison-images {
    margin-bottom: 30px;
}

.section {
    margin-top: 220px;
}

.section-title-page {
    margin-bottom: 20px;
}


.tech-specs {
    margin: 0 auto 100px;
}

.youtube-videos {
    margin: 0 auto 100px;
}
*/
